.version.dota /* version checker */
{
	color: #0000FF;
	background-color: #D24C38;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1048px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -95px;
	width: 0.01px;
}

#u73_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 28px;
}

#pu74-3
{
	width: 0.01px;
	left: 125px;
	position: relative;
}

#u74-3
{
	z-index: 3;
	width: 5px;
	margin-right: -10000px;
}

#u75-4
{
	z-index: 6;
	width: 352px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#menuu163
{
	z-index: 10;
	width: 446px;
	left: 115px;
	margin-top: 30px;
}

#u164
{
	width: 222px;
	min-height: 34px;
	margin-right: -10000px;
}

#u165
{
	width: 222px;
	padding-bottom: 17px;
}

#u165:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u167-4
{
	width: 222px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u165:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 222px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u207
{
	width: 222px;
	padding-bottom: 17px;
}

#u165.MuseMenuActive,#u207:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u207:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u207.MuseMenuActive
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u210-4
{
	width: 222px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u165.MuseMenuActive #u167-4,#u207:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u207:active #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u207.MuseMenuActive #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u73,#u73-bw
{
	z-index: 2;
	min-height: 143px;
}

#pu211
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 45px;
}

#u211
{
	z-index: 28;
	width: 1170px;
	border-color: #000000;
	background-color: #D561FF;
	padding-bottom: 401px;
	position: relative;
	margin-right: -10000px;
}

#u215
{
	z-index: 29;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 84px;
}

#u216-24
{
	z-index: 30;
	width: 172px;
	min-height: 287px;
	position: relative;
	margin-right: -10000px;
	padding: 10px 10px 17px 30px;
}

.rss-text-styles
{
	border-style: none;
	border-color: transparent;
	background-color: #EDEDED;
}

#u216-2
{
	line-height: 29px;
}

#u218
{
	z-index: 41;
	width: 23px;
	height: 23px;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;
}

#u217,#u219
{
	float: left;
}

#u220
{
	z-index: 49;
	width: 23px;
	height: 23px;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;
}

.rss-odd-container,.rss-even-container
{
	border-style: none;
	border-color: #ADADAD;
	background: #FFFFFF url("../images/untitled-1.png") repeat-x left bottom;
}

#u216-9,#u216-15,#u216-18,#u216-21
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u221
{
	z-index: 58;
	width: 682px;
	min-height: 1754px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 322px;
}

#u192
{
	z-index: 23;
	min-height: 67px;
	padding-bottom: 28px;
}

#u192_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u195-4
{
	z-index: 24;
	width: 284px;
	min-height: 44px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 201px;
}

#u192-bw
{
	z-index: 23;
	min-height: 67px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 95px;
}

#page .verticalspacer
{
	clear: both;
}

