.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u75-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u195-4
{
	font-family: alfa-slab-one-n4, serif;
}

#u216-9,#u216-15,#u216-18,#u216-21
{
	font-family: source-sans-pro-n4, sans-serif;
}

