.version.index /* version checker */
{
	color: #0000FB;
	background-color: #10A7B8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
}

#u73
{
	z-index: 2;
}

#u73_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 28px;
}

#pu74-3
{
	width: 0.01px;
	left: 125px;
	position: relative;
}

#u74-3
{
	z-index: 3;
	width: 5px;
	margin-right: -10000px;
}

#u75-4
{
	z-index: 6;
	width: 352px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#menuu163
{
	z-index: 10;
	width: 446px;
	left: 115px;
	margin-top: 30px;
}

#u164
{
	width: 446px;
	min-height: 34px;
	margin-right: -10000px;
}

#u165
{
	width: 446px;
	padding-bottom: 17px;
}

#u165:hover
{
	margin: 0px;
}

#u165:active
{
	margin: 0px;
}

#u165.MuseMenuActive
{
	margin: 0px;
}

#u167-4
{
	width: 446px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u165:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u165.MuseMenuActive #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u73-bw
{
	z-index: 2;
	height: 143px;
}

#pamphletu120
{
	z-index: 22;
	width: 0.01px;
	height: 127px;
	padding-bottom: 90px;
	margin-left: 15px;
	margin-top: 52px;
	position: relative;
}

#u123
{
	position: absolute;
	width: 380px;
	background-color: transparent;
	left: 210px;
}

#u123popup
{
	z-index: 23;
}

#u134
{
	z-index: 24;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u135-7
{
	z-index: 25;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u137
{
	z-index: 30;
	width: 130px;
	background-color: transparent;
}

#u129
{
	z-index: 35;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u130-7
{
	z-index: 36;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u135-3,#u130-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u132
{
	z-index: 41;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u124
{
	z-index: 46;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u125-7
{
	z-index: 47;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u125-3
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u125
{
	font-size: 18px;
}

#u136,#u131,#u126
{
	float: left;
	margin-right: 17px;
}

#u127
{
	z-index: 52;
	width: 130px;
	background-color: transparent;
}

#u137_img,#u132_img,#u127_img
{
	padding-right: 2px;
	padding-bottom: 1px;
}

#u125-2
{
	font-size: 18px;
	line-height: 22px;
}

#u135-5,#u130-5,#u125-5
{
	line-height: 20px;
	color: #999999;
}

#u139
{
	z-index: 57;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 10px;
}

#u140
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u140:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u141-4
{
	z-index: 59;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u140:hover #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u140.PamphletThumbSelected #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u140:hover #u141-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u144
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: 33px;
	left: -10px;
}

#u140.PamphletThumbSelected,#u144:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u145-4
{
	z-index: 64;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u144:hover #u145-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u144.PamphletThumbSelected #u145-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u144:hover #u145-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u142
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u144.PamphletThumbSelected,#u142:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u142.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	z-index: 69;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u142.PamphletThumbSelected #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u142:hover #u143-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u140.PamphletThumbSelected #u141-4 p,#u144.PamphletThumbSelected #u145-4 p,#u142.PamphletThumbSelected #u143-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

#pu191
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: -217px;
}

#u191
{
	z-index: 104;
	width: 213px;
	height: 395px;
	border-color: #000000;
	background-color: #22B573;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
}

#accordionu178
{
	z-index: 73;
	width: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 605px;
}

#u183
{
	z-index: 74;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u186-4
{
	z-index: 75;
	width: 348px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u186-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u186-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u184
{
	z-index: 79;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u185-4
{
	z-index: 80;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u187
{
	z-index: 84;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u190-4
{
	z-index: 85;
	width: 348px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u190-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u190-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u188
{
	z-index: 89;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u189-4
{
	z-index: 90;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u179
{
	z-index: 94;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u180-4
{
	z-index: 95;
	width: 348px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u180-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u180-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u186-4.AccordionPanelTabOpen,#u190-4.AccordionPanelTabOpen,#u180-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 348px;
	margin: 0px;
}

#u186-4.AccordionPanelTabOpen p,#u190-4.AccordionPanelTabOpen p,#u180-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u181
{
	z-index: 99;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
}

#u182-4
{
	z-index: 100;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#u192
{
	z-index: 17;
	padding-bottom: 28px;
}

#u192_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u195-4
{
	z-index: 18;
	width: 284px;
	min-height: 44px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 201px;
}

#u192-bw
{
	z-index: 17;
	height: 67px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

