.version.index /* version checker */
{
	color: #000016;
	background-color: #382B43;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	padding-bottom: 77px;
}

#u73
{
	z-index: 2;
	padding-bottom: 62px;
}

#u73_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u74-3
{
	z-index: 3;
	width: 5px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 125px;
}

#u75-4
{
	z-index: 6;
	width: 352px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 137px;
}

#u73-bw
{
	z-index: 2;
	height: 79px;
}

#pamphletu120
{
	z-index: 10;
	width: 0.01px;
	height: 127px;
	padding-bottom: 90px;
	margin-left: 157px;
	margin-top: 66px;
	position: relative;
}

#u123
{
	position: absolute;
	width: 380px;
	background-color: transparent;
	left: 210px;
}

#u123popup
{
	z-index: 11;
}

#u134
{
	z-index: 12;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u135-7
{
	z-index: 13;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u137
{
	z-index: 18;
	width: 130px;
	background-color: transparent;
}

#u129
{
	z-index: 23;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u130-7
{
	z-index: 24;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u135-3,#u130-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u132
{
	z-index: 29;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u124
{
	z-index: 34;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u125-7
{
	z-index: 35;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u125-3
{
	color: #6B6B6B;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u125
{
	font-size: 18px;
}

#u136,#u131,#u126
{
	float: left;
	margin-right: 17px;
}

#u127
{
	z-index: 40;
	width: 130px;
	background-color: transparent;
}

#u137_img,#u132_img,#u127_img
{
	padding-right: 2px;
	padding-bottom: 1px;
}

#u125-2
{
	font-size: 18px;
	line-height: 22px;
}

#u135-5,#u130-5,#u125-5
{
	line-height: 20px;
	color: #999999;
}

#u139
{
	z-index: 45;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 10px;
}

#u140
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u140:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u141-4
{
	z-index: 47;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u140:hover #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u140.PamphletThumbSelected #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u140:hover #u141-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u144
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: 33px;
	left: -10px;
}

#u140.PamphletThumbSelected,#u144:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u145-4
{
	z-index: 52;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u144:hover #u145-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u144.PamphletThumbSelected #u145-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u144:hover #u145-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u142
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u144.PamphletThumbSelected,#u142:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u142.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	z-index: 57;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u142.PamphletThumbSelected #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u142:hover #u143-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u140.PamphletThumbSelected #u141-4 p,#u144.PamphletThumbSelected #u145-4 p,#u142.PamphletThumbSelected #u143-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

