.version.index /* version checker */
{
	color: #00000C;
	background-color: #FCC853;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 539px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -39px;
	width: 0.01px;
}

#u550
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 115px;
}

#u75-4
{
	z-index: 3;
	width: 222px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 215px;
}

#menuu163
{
	z-index: 7;
	width: 712px;
	margin-right: -10000px;
	left: 573px;
}

#u164
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
}

#u165
{
	width: 100px;
	padding-bottom: 48px;
}

#u165:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u165:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u167-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u165:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 102px;
}

#u207
{
	width: 100px;
	padding-bottom: 48px;
}

#u165.MuseMenuActive,#u207:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u207:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u210-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u165.MuseMenuActive #u167-4,#u207:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u207:active #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u387
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 204px;
}

#u388
{
	width: 100px;
	padding-bottom: 48px;
}

#u207.MuseMenuActive,#u388:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u388:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u391-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u207.MuseMenuActive #u210-4,#u388:hover #u391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u388:active #u391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u374
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 306px;
}

#u375
{
	width: 100px;
	padding-bottom: 48px;
}

#u388.MuseMenuActive,#u375:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u375:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u378-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u388.MuseMenuActive #u391-4,#u375:hover #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u375:active #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u413
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 408px;
}

#u416
{
	width: 100px;
	padding-bottom: 48px;
}

#u375.MuseMenuActive,#u416:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u416:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u417-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u375.MuseMenuActive #u378-4,#u416:hover #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u416:active #u417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u400
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 510px;
}

#u403
{
	width: 100px;
	padding-bottom: 48px;
}

#u416.MuseMenuActive,#u403:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u403:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u404-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u416.MuseMenuActive #u417-4,#u403:hover #u404-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u403:active #u404-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u426
{
	width: 100px;
	min-height: 70px;
	margin-right: -10000px;
	left: 612px;
}

#u427
{
	width: 100px;
	padding-bottom: 48px;
}

#u403.MuseMenuActive,#u427:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u427:active
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u427.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u428-4
{
	width: 100px;
	min-height: 22px;
	margin-right: -10000px;
	top: 24px;
}

#u403.MuseMenuActive #u404-4,#u427:hover #u428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u427:active #u428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u427.MuseMenuActive #u428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u73,#u73-bw
{
	z-index: 2;
	min-height: 70px;
}

#slideshowu593
{
	z-index: 69;
	width: 0.01px;
	height: 500px;
	left: -100px;
	position: relative;
}

#u605
{
	position: absolute;
	width: 1400px;
	height: 500px;
	background-color: transparent;
}

#u605popup
{
	z-index: 70;
}

#u606
{
	z-index: 71;
	width: 1400px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u620
{
	z-index: 73;
	width: 1400px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u598
{
	position: absolute;
	width: 485px;
	background-color: transparent;
	top: 400px;
	left: 915px;
}

#u598popup
{
	z-index: 75;
}

#u599-6
{
	z-index: 76;
	width: 465px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	padding: 10px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u599-2
{
	font-size: 30px;
	line-height: 42px;
}

#u626-7
{
	z-index: 82;
	width: 465px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	padding: 10px;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 42px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u626-3
{
	line-height: 42px;
}

#u599-4,#u626-4
{
	font-size: 24px;
	line-height: 34px;
}

#u600-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 148px;
}

#u600-4popup
{
	z-index: 89;
}

#u603-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 128px;
	left: 1370px;
}

#u603-4popup
{
	z-index: 93;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu629-4
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 58px;
}

#u629-4
{
	z-index: 97;
	width: 215px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u645-4
{
	z-index: 113;
	width: 240px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#ppu630
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 26px;
}

#pu630
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u630
{
	z-index: 101;
	width: 570px;
	background-color: transparent;
	position: relative;
}

#u632
{
	z-index: 102;
	width: 201px;
	height: 198px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	background: transparent url("../images/330px-team_secret_roster_redbull_bg.jpg") no-repeat center center;
	background-size: contain;
}

#u639-10
{
	z-index: 103;
	width: 568px;
	min-height: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 202px;
}

#u656
{
	z-index: 148;
	width: 570px;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 52px;
	position: relative;
}

#u657
{
	z-index: 149;
	width: 201px;
	height: 198px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	background: transparent url("../images/330px-team_secret_roster_redbull_bg.jpg") no-repeat center center;
	background-size: contain;
}

#u658-10
{
	z-index: 150;
	width: 568px;
	min-height: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 202px;
}

#ppu646
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 803px;
}

#pu646
{
	width: 0.01px;
}

#u646
{
	z-index: 117;
	width: 167px;
	min-height: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u648-5
{
	z-index: 118;
	width: 172px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#pu649
{
	width: 0.01px;
	margin-top: 52px;
}

#u649
{
	z-index: 123;
	width: 167px;
	min-height: 133px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u651-12
{
	z-index: 124;
	width: 172px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u652-4
{
	z-index: 136;
	width: 240px;
	min-height: 25px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 46px;
	position: relative;
}

#ppu659-4
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: -1px;
}

#pu659-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
}

#u659-4
{
	z-index: 160;
	width: 215px;
	min-height: 49px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u626-5,#u629-2,#u645-2,#u639-2,#u658-2,#u652-2,#u659-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u629,#u645,#u639,#u658,#u652,#u659
{
	line-height: 36px;
}

#u453-6
{
	z-index: 63;
	width: 300px;
	min-height: 340px;
	background-color: transparent;
	line-height: 18px;
	margin-top: 12px;
	position: relative;
}

#u661-6
{
	z-index: 164;
	width: 300px;
	min-height: 340px;
	background-color: transparent;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 376px;
}

#u655-8
{
	z-index: 140;
	width: 367px;
	min-height: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 803px;
}

#u192
{
	z-index: 50;
	min-height: 87px;
	padding-bottom: 86px;
}

#u73_align_to_page,#u192_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u664-6
{
	z-index: 57;
	width: 216px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 115px;
}

#pu663
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 575px;
}

#u663
{
	z-index: 56;
	width: 50px;
	height: 50px;
	margin-left: 50px;
}

#u662-4
{
	z-index: 52;
	width: 133px;
	min-height: 25px;
	margin-top: 10px;
}

#u192-bw
{
	z-index: 50;
	min-height: 87px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

